.header {
  width: 100%;
  margin: auto;
  max-width: 1200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: solid 0.5p var(--blanco);
  background: var(--color-uno);
  color: var(--blanco);
  background-color: var(--color-uno);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='white' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  position: relative;
}

.header__button {
  width: 32px;
  height: 32px;
  position: relative;
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: solid 0.5px transparent;
}

.header__svg--cerrado {
  background-color: var(--blanco);
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  display: none;
  z-index: 200;
}

.header__svg--abierto {
  background-color: var(--blanco);
  left: 0;
  top: 0;
  position: absolute;
  width: 32px;
  height: 32px;
  display: block;
}

.nav {
  display: none;
}

.nav__a--desplegable {
  position: relative;
  border-bottom: solid 0.5px var(--blanco);
  background: var(--blanco);
  min-width: 18em;
}

.nav__activo {
  background-color: var(--color-uno);
  margin-left: 2em;
  width: 25em;
  display: block;
  width: fit-content;
  position: absolute;
  border-radius: var(--radio-borde);
  left: -32px;
  z-index: 100;
}

.nav__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}

.nav__item {
  list-style: none;
  width: 100%;
}

.nav__a {
  text-decoration: none;
  color: var(--negro);
  display: block;
  padding: 1em;
  background-color: var(color-dos);
  display: flex;
  justify-content: space-between;
  padding-left: 3em;
}

.nav__mas {
  display: inline;
  padding-left: 0.5em;
}

.nav__contacto {
  background: var(--blanco);
  border-radius: 0 0 var(--radio-borde) 0;
}

.nav__menu--desplegable {
  display: none;
}

.nav__menu--activo {
  display: block;
  padding: 1em 1em 1.5em 0;
  color: var(--blanco);
  background: var(--primary--color);
}

.header__titulo {
  color: var(--negro);
  background: var(--color-uno);
  width: 300px;
  margin: 1em auto 1em auto;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.5px var(--negro);
  border-radius: var(--radio-borde);
}

.header__titulo--p {
  font-weight: 600;
  font-size: 1em;
}

.section {
  margin: auto;
  width: 90%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  margin-top: 1em;
  border-radius: var(--radio-borde);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-uno);
}

.section-galeria {
  border-radius: var(--radio-borde);
}

@media screen and (orientation: landscape) {
  .section {
    width: 100%;
  }
}
@media screen and (orientation: landscape) {
  .galeria {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.galeria__btn-atras {
  color: var(--blanco);
  font-family: "Nanum Myeongjo", serif;
  font-weight: 900;
  width: 100%;
}

p {
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

.section-contacto {
  border-radius: 0.5em 0.5em 0 0;
  background: var(--color-uno);
  border: none;
}

.section-contacto__texto {
  color: var(--negro);
  padding: 1em 1em 1em 1em;
  display: flex;
  line-height: 2em;
  justify-content: center;
}
.section-contacto__texto svg {
  margin-right: 0.8em;
}

@media screen and (orientation: landscape) {
  .galeria__btn-atras {
    width: 10%;
    height: 100%;
    display: flex;
  }
}
@media screen and (orientation: landscape) {
  .galeria__btn-atras p {
    padding: 2em 1.5em;
  }
}
.galeria__portafotos {
  display: flex;
  align-content: center;
}

@media screen and (orientation: landscape) {
  .galeria__portafotos {
    width: 100%;
  }
}
.galeria__btn-adelante {
  width: 100%;
  font-family: "Nanum Myeongjo", serif;
  color: var(--blanco);
}

@media screen and (orientation: landscape) {
  .galeria__btn-adelante {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.galeria__flecha {
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

@media screen and (orientation: landscape) {
  .galeria__flecha {
    padding: 2em 1.5em;
  }
}
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media screen and (orientation: landscape) {
  .grid {
    width: 90%;
    grid-template-columns: minmax(300px, 1fr) 1fr;
  }
}
.titulo-grid {
  padding: 3em;
  font-size: 1rem;
  text-align: center;
  display: block;
  color: var(--negro);
  position: relative;
}

.titulo-grid::before {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  bottom: 3em;
  left: 0.5em;
  content: "";
  margin: 0 auto 0 auto;
  border-left: 0.9em solid transparent;
  border-right: 0.9em solid transparent;
  border-bottom: 1.5em solid var(--blanco);
}

.titulo-grid::after {
  display: block;
  position: absolute;
  bottom: 2.7em;
  left: 0.5em;
  content: "";
  margin: 0 auto 0 auto;
  width: 0;
  height: 0;
  border-left: 0.9em solid transparent;
  border-right: 0.9em solid transparent;
  border-bottom: 1.5em solid var(--color-uno);
  border-radius: var(--radio-borde);
}

.grid__item {
  width: 100%;
}

img {
  border-radius: var(--radio-borde);
  min-width: 100%;
  vertical-align: middle;
}

.footer {
  min-height: 2em;
  background-color: var(--blanco);
}

:root {
  scroll-behavior: smooth;
  --negro:#202020;
  --blanco:rgba(207, 109, 207, 0.7);
  --color-uno: #e6c1e3;
  --color-dos:#cc1c68;
  --radio-borde:0.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scrollbar-color: var(--blanco) var(--negro);
}
* a:hover {
  font-weight: 600;
}

svg {
  overflow: visible;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background-color: var(--blanco);
}
body .contenedor-general {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0.25em 0.25em 0.25em var(--primary-color);
  -moz-window-shadow: 0.25em 0.25em 0.25em var(--primary-color);
  -webkit-box-shadow: 0.25em 0.25em 0.25em var(--primary-color);
}/*# sourceMappingURL=main.css.map */