.header {
  width: 100%;
  margin: auto;
  max-width: 1200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: solid 0.5p var(--secundary-color);
  background: var(--terciary-color);
  color: var(--secundary-color);
}

.header__button {
  display: block;
  cursor: pointer;
  width: 2em;
  background-color: var(--terciary-color);
  border: solid 0.5px black;
  border-radius: 0.5em;
}

.header__button:hover {
  background-color: var(--terciary-color);
  border: solid 0.5px white;
}

.header__svg {
  width: 100%;
  height: 100%;
  fill: var(--primary--color);
}

.header__svg:hover {
  fill: var(--secundary-color);
}

.nav {
  display: none;
}

.nav__a--desplegable {
  position: relative;
}

.nav__activo {
  margin-left: 1.5em;
  width: 25em;
  display: block;
}

.nav__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.nav__item {
  list-style: none;
  width: 100%;
}

.nav__a {
  text-decoration: none;
  color: var(--primary-color);
  display: block;
  width: 100%;
  padding: 1em;
}

.nav__a:hover {
  width: 50%;
  color: var(--secundary-color);
  border: solid 0.5px var(--secundary-color);
  border-radius: 0.5em;
}

.nav__menu--desplegable {
  display: none;
  width: 100%;
}

.nav__menu--activo {
  display: block;
  padding: 1em 2em 1em 0;
  color: var(--secundary-color);
  background: var(--primary--color);
}

.header__titulo {
  color: var(--primary-color);
  background: var(--terciary-color);
  margin: 1em;
  width: 300px;
  margin: 0 auto 1em auto;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.5px var(--primary-color);
  border-radius: 0.5em;
}

.header__titulo--p {
  font-weight: 600;
  font-size: 1em;
}

.section {
  margin: auto;
  width: 90%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  margin-top: 2em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--terciary-color);
}

.section-galeria {
  border-radius: 0 0 0.5em 0.5em;
}

.galeria__foto {
  border-radius: 0 0 0.5em 0.5em;
}

@media screen and (orientation: landscape) {
  .section {
    width: 100%;
  }
}
@media screen and (orientation: landscape) {
  .galeria {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.galeria__btn-atras {
  color: var(--secundary-color);
  font-family: "Nanum Myeongjo", serif;
  width: 100%;
}
.galeria__btn-atras p {
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

.section-contacto {
  border-radius: 0.5em 0.5em 0 0;
  background: var(--terciary-color);
}

.section-contacto__texto {
  color: var(--secundary-color);
  padding: 2em;
}

@media screen and (orientation: landscape) {
  .galeria__btn-atras {
    width: 10%;
    height: 100%;
    display: flex;
  }
}
@media screen and (orientation: landscape) {
  .galeria__btn-atras p {
    padding: 2em 1.5em;
  }
}
.galeria__portafotos {
  display: flex;
  align-content: center;
}

@media screen and (orientation: landscape) {
  .galeria__portafotos {
    width: 100%;
  }
}
.galeria__btn-adelante {
  width: 100%;
  font-family: "Nanum Myeongjo", serif;
  color: var(--secundary-color);
}

@media screen and (orientation: landscape) {
  .galeria__btn-adelante {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.galeria__flecha {
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

@media screen and (orientation: landscape) {
  .galeria__flecha {
    padding: 2em 1.5em;
  }
}
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media screen and (orientation: landscape) {
  .grid {
    width: 90%;
    grid-template-columns: minmax(300px, 1fr) 1fr;
  }
}
.titulo-grid {
  padding: 3em;
  font-size: 1rem;
  text-align: center;
  display: block;
  color: var(--secundary-color);
  position: relative;
}

.titulo-grid::before {
  display: block;
  position: absolute;
  bottom: 3em;
  left: 0.5em;
  content: "";
  margin: 0 auto 0 auto;
  width: 0;
  height: 0;
  border-left: 0.9em solid transparent;
  border-right: 0.9em solid transparent;
  border-bottom: 1.8em solid var(--secundary-color);
}

.titulo-grid::after {
  display: block;
  position: absolute;
  bottom: 2.7em;
  left: 0.5em;
  content: "";
  margin: 0 auto 0 auto;
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 1em solid var(--terciary-color);
  border-radius: 0.5em;
}

.grid__item {
  width: 100%;
}

img {
  border-radius: 0.5em;
  width: 100%;
  vertical-align: middle;
}

.footer {
  min-height: 2em;
  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  --primary-color:#000;
  --secundary-color:#fff;
  --terciary-color: rgb(255, 136, 0);
  --quarternary-color:#caac00;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
body .contenedor-general {
  margin: auto;
  /* background-color: aqua; */
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0.25em 0.25em 0.25em var(--primary-color);
  -moz-window-shadow: 0.25em 0.25em 0.25em var(--primary-color);
  -webkit-box-shadow: 0.25em 0.25em 0.25em var(--primary-color);
}/*# sourceMappingURL=main.css.map */