.header {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    text-align: left;
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    justify-content: flex-start;
    border: solid 0.5p var(--secundary-color);
    background: var(--primary-color);
    color: var(--secundary-color);
  }
  
  .header__button {
    display: block;
    cursor: pointer;
    width: 2em;
    background-color: transparent;
    border:none;

  }
  .header__svg{
    width: 100%;
    height: 100%;
    color:var(--secundary-color);
    border: 1px solid var(--terciary-color);
    fill:var(--terciary-color);
  }
  
  .nav {
    display: none;  
  }
  .nav__a--desplegable{
    position: relative;
  }

  .nav__a--desplegable::after{
    position: absolute;
    content: "";
    color: var(--terciary-color);

    width: 0;
    height: 0;
    border-left: 1em solid var(--terciary-color);
    border-right: 1em solid transparent;
    border-bottom:0.5em solid transparent;
    border-top: 0.5em solid transparent;

    top:1.3em;
    right:17em;
  }

  .nav__a--desplegable:hover::after{
    position: absolute;
    content: "";
    color: var(--terciary-color);

    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom:1em solid transparent;
    border-top:1em solid var(--terciary-color);

    top:1.3em;
    right:18em;

    transition: all 0.5s;
  
    
  }






  .nav__activo{
    margin-left: 1em;
    width: 25em;
    display:block;
  }
 

  .nav__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  .nav__item {
    list-style: none;
    width: 100%; 
   }
  
  .nav__a {
    text-decoration: none;
    color: var(--secundary-color);
    display: block;
    width: 100%;
    padding: 1em;
  }
  
  .nav__a:hover {
    color:var(--terciary-color);
  }

  .nav__menu--desplegable{
    display: none;

    width: 100%;
   
  }
  .nav__menu--activo{
    display: block;
   
    padding: 1em 2em 1em 0;;
    color: var(--secundary-color);
    background: var(--primary--color);
    
   
  }
  .header__titulo {
    padding: 3em;
    text-align: center;
    
    //  border: solid 2px #fff0f0;
  }
  
  .header__titulo--p {
   
    font-family: "Square Peg", cursive;
    font-size: 1.5em;
  }

 