.header {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: solid 0.5p var(--blanco);
    background: var(--color-uno);
    color: var(--blanco);
    background-color: var(--color-uno);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='white' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    position: relative;
  }
  
  .header__button {
    width: 32px;
    height: 32px;
    position: relative;
    display: block;
    cursor: pointer;
    background-color:transparent;
    border:solid 0.5px transparent;
  
  }

  .header__svg--cerrado{
    background-color: var(--blanco);
    position: absolute;
    left:0;
    top:0;
    width: 32px;
    height: 32px;
    display: none;
    z-index: 200;
 
  }

  .header__svg--abierto{
    background-color: var(--blanco);
    left:0;
    top:0;
    position: absolute;
    width: 32px;
    height: 32px;
    display: block;

   
  }
  .nav {
    display: none;  
   
  }

  .nav__a--desplegable{
    position: relative;
    border-bottom: solid .5px var(--blanco);
    background: var(--blanco);
    min-width: 18em;

 
   
  }

  // .nav__a--desplegable::after{
  //   position: absolute;
  //   content: "";
  //   color: var(--color-uno);

  //   width: 0;
  //   height: 0;
  //   border-left: 1em solid var(--color-uno);
  //   border-right: 1em solid transparent;
  //   border-bottom:0.5em solid transparent;
  //   border-top: 0.5em solid transparent;

  //   top:1.3em;
  //   right:17em;
  // }

  // .nav__a--desplegable:active::after{
  //   position: absolute;
  //   content: "";
  //   color: var(--color-uno);
  //   width: 0;
  //   height: 0;
  //   border-left: 0.5em solid transparent;
  //   border-right: 0.5em solid transparent;
  //   border-bottom:1em solid transparent;
  //   border-top:1em solid var(--color-uno);
  //   top:1.3em;
  //   right:18em;
  //   transition: all 0.1s ease;
  // }

  .nav__activo{
    background-color: var(--color-uno);
    margin-left: 2em;
    width: 25em;
    display:block;
    width: fit-content;
    position: absolute; 
    border-radius:var(--radio-borde); 

  
    left: -32px;
    z-index: 100;
   
   
  
   
   
  }

  .nav__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
  
  }
  
  .nav__item {
    list-style: none;
    width: 100%; 
    
   
   }
  
  .nav__a {
    // max-width: 100%;
    text-decoration: none;
    color: var(--negro);
    display: block;
    // width: 50%;
    padding: 1em;
    background-color: var(color-dos);
    display: flex;
    justify-content: space-between;
    padding-left: 3em;
  }


  .nav__mas{
    
    display: inline;
    padding-left: 0.5em
  }



  .nav__contacto{
    background: var(--blanco);
    border-radius:0 0 var(--radio-borde) 0;
  }

  .nav__menu--desplegable{
    display: none;

  
  
  }

  .nav__menu--activo{
    display: block;
    padding: 1em 1em 1.5em 0;;
    color: var(--blanco);
    background: var(--primary--color);

   
  


  }

  .header__titulo {
    color: var(--negro); 
    background: var(--color-uno);   
    width: 300px;
    margin: 1em auto 1em auto;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.5px var(--negro);
    border-radius:var(--radio-borde);
  }

  .header__titulo--p {
    font-weight: 600;
    font-size: 1em;
  }