.section {
 
    margin: auto;
    width: 90%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    margin-top: 1em;
    border-radius:var(--radio-borde);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color-uno);

  }
.section-galeria{
  border-radius:  var(--radio-borde);
  
}
.galeria__foto{

}
  
  @media screen and (orientation: landscape) {
    .section {
      width: 100%;
    }
  }
  
  @media screen and (orientation: landscape) {
    .galeria {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  
  .galeria__btn-atras {
    color: var(--blanco);
    font-family: "Nanum Myeongjo", serif;
    font-weight:900;

    width: 100%;
  }
    p {
      text-align: center;
      padding: 1em 0;
      width: 100%;
      
    }
    .section-contacto{
      border-radius:0.5em 0.5em 0 0 ;
      background: var(--color-uno);
      border: none;
    }

    .section-contacto__texto{
      color: var(--negro);
      padding: 1em 1em 1em 1em;
     display: flex;
     line-height: 2em;
     justify-content:center;
      svg{
        margin-right: 0.8em;
      }  
    }
  
  @media screen and (orientation: landscape) {
    .galeria__btn-atras {
      width: 10%;
      height: 100%;
      display: flex;
    }
  } 

  @media screen and (orientation: landscape) {
    .galeria__btn-atras p {
      padding: 2em 1.5em;
    }
  }

  .galeria__portafotos {
    display: flex;
    align-content: center;
  }

  @media screen and (orientation: landscape) {
    .galeria__portafotos {
      width: 100%;
    }
  }

  .galeria__btn-adelante {
    width: 100%;
    font-family: "Nanum Myeongjo", serif;
    color: var(--blanco);
  }

  @media screen and (orientation: landscape) {
    .galeria__btn-adelante {
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
     
    }
  }

  .galeria__flecha {
    text-align: center;
    padding: 1em 0;
    width: 100%;
  }

  @media screen and (orientation: landscape) {
    .galeria__flecha {
      padding: 2em 1.5em;
    }
  }

  .grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  @media screen and (orientation: landscape){
    .grid{
      width: 90%;
      grid-template-columns: minmax(300px,1fr) 1fr;
    }
  }

  .titulo-grid{
    padding: 3em;
    font-size: 1rem;
    text-align: center;
    display: block;
    color: var(--negro);
    position: relative;
  }

  .titulo-grid::before{
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    bottom:3em;
    left:0.5em;
    content: "";
    margin: 0 auto 0 auto;
   
    border-left: 0.9em solid transparent;
    border-right: 0.9em solid transparent;
    border-bottom: 1.5em solid var(--blanco);
  }

  
  .titulo-grid::after{
    display: block;
    position: absolute;
    bottom:2.7em;
    left:0.5em; 
    content: "";
    margin: 0 auto 0 auto;
    width: 0;
    height: 0;
    border-left: 0.9em solid transparent;
    border-right: 0.9em solid transparent;
    border-bottom: 1.5em solid var(--color-uno);
    border-radius:var(--radio-borde);
   }
  
  ////////////////////GRID//////////////
  .grid__item{
    width: 100%;
    min-width: 60%;
  
    // padding: 1em 0 1em 0;
        // box-shadow: 0.25em 0.25em 0.5em var(--quarternary-color);
        // -moz-window-shadow: 0.25em 0.25em 0.5em var(--quarternary-color);
        // -webkit-box-shadow: 0.25em 0.25em 0.5em var(--quarternary-color);
        // border: solid 1px black;
  }

  img {
    border-radius:var(--radio-borde); 
    min-width:100%;
    vertical-align: middle;
  }

