
@import 'header';
@import 'section';
@import 'footer';

:root{
  scroll-behavior:smooth;
  --negro:#202020;
  --blanco:rgba(207, 109, 207, 0.7);
  --color-uno: #e6c1e3;
  --color-dos:#cc1c68;
  --radio-borde:0.2em; 


}




  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

    scrollbar-color: var(--blanco) var(--negro);
    a:hover{
      font-weight: 600;
    }
  

    
 
  }

  svg{
    overflow: visible;
  }

  body {
      font-family: "Nunito", sans-serif;
      font-size: 16px;
      background-color: var(--blanco);

    
    .contenedor-general {
      margin: auto;
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      box-shadow: 0.25em 0.25em 0.25em var(--primary-color);
      -moz-window-shadow: 0.25em 0.25em 0.25em var(--primary-color);
      -webkit-box-shadow: 0.25em 0.25em 0.25em var(--primary-color);
    }
  }