
@import 'header';
@import 'section';
@import 'footer';


  
 
  

  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    --primary-color:#000;
    --secundary-color:#fff;
    --terciary-color: rgba(203,96,179,1);
    --quarternary-color:#a80077;
  }
  
  body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    
  
    .contenedor-general {
      margin: auto;
  
      /* background-color: aqua; */
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      box-shadow: 0.25em 0.25em 0.5em var(--quarternary-color);
      -moz-window-shadow: 0.25em 0.25em 0.5em var(--quarternary-color);
      -webkit-box-shadow: 0.25em 0.25em 0.5em var(--quarternary-color);
    }
  }