
@import 'header';
@import 'section';
@import 'footer';

:root{
  

  --negro:rgb(32, 32, 32);
  --blanco:rgba(207, 109, 207, 0.7);
  --color-uno: rgb(230, 193, 227);
  --color-dos:rgb(204, 28, 104);
  --radio-borde:0.2em; 


}




  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

    scrollbar-color: var(--blanco) var(--negro);
    transition: background-color 0.2s, visibility 0.2s ease-in-out, font-weight 0.2s ease-in-out ;


  }  
    a:hover{
    font-weight: 600;
    
    }
  

    
 
  

  svg{
    overflow: visible;
  }

  body {
      font-family: "Nunito", sans-serif;
      font-size: 16px;
      background-color: var(--blanco);

    
    .contenedor-general {
      margin: auto;
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      box-shadow: 0.25em 0.25em 0.25em var(--primary-color);
      -moz-window-shadow: 0.25em 0.25em 0.25em var(--primary-color);
      -webkit-box-shadow: 0.25em 0.25em 0.25em var(--primary-color);
    }
  }